.header {
    text-align: center;
  }

  .img-card {
    width: 100%; 
    height: 15vw; 
    object-fit: cover; 
  }

  .card-img-top {
    width: 100%;
    height: 30vh;
    object-fit: contain;
    }

  .container {
    display: flex;
    flex-direction: row
  }
  